.controls__form {
    display: flex;
    justify-content: center;
}

.controls__inputs-holder {
    display: grid;
    grid-template-columns: 7rem 1fr 7rem 1fr;
    grid-row-gap: 10px;
    text-align: right;
}

.controls__row{
    padding-bottom: 20px
}

.controls label,button {
    margin-left: 15px;
    margin-right: 5px;
}